
@media (min-width:2000px){
    

  
}

@media  (min-width: 1200px) {

    .popular__sneaker__conteiner{
        gap:2rem;
    }

    .category__conteiner{
        gap:1rem
    }

    }

@media  (min-width: 960px) and (max-width: 1199px) {

    .hero__buttom__conteiner{
        width: 100%;
        justify-content: center;
        margin-top:2rem;
    }
    .hero__title{
        height: 30rem;
        width: 50rem;
    }

    .brand__conteiner{
        max-width: 90%;
    }

    .brand__conteiner__data{
        width: 90%;
    }

    .info__title{
        font-size: 3rem;
    }

    .about{
        font-size:2rem
    }

    .category__conteiner{
        gap:1rem;
    }

    .category__conteiner__data{
        height:8rem;
        width: 8rem;
    }

    .brand__name{
        font-size: 1.5rem;
    }

    .popular__sneaker__conteiner,
    .products__conteiner{
        gap:10rem;
        max-width: 90%;
    }

    .products__conteiner{
        gap:5rem
    }


 }

@media all and (min-width: 768px) and (max-width: 959px) {
    .hero__buttom__conteiner{
        width: 100%;
        justify-content: center;
        margin-top:2rem;
    }

    .hero__title{
        height: 30rem;
        width: 40rem;
    }

    .brand__conteiner{
        max-width: 100%;
    }

    

    .category__conteiner{
        gap:1.4rem;

    }

    .category__conteiner__data{
        height:5.5rem;
        width: 6rem;
    }

    .brand__name{
        font-size: 1.1rem;
    }
 }

@media all and (min-width: 480px) and (max-width: 767px){

    .hero__buttom__conteiner{
        width: 100%;
        justify-content: center;
        margin-top:2rem;
    }

    .hero__title{
        height: 25rem;
        width: 25rem;
    }

    .body{
        background-size:auto;
    }

    .products__title,
    .popular__title,
    .category__title,
    {
        font-size:3.1rem;
    }

    .popular__title{
        font-size:3.1rem
    }

    .about{
        font-size:1.5rem;
    }

    .brand__conteiner__data{
        width: 100%;
    }

    .brand__conteiner{
        max-width: 100%;
    }

    .info__title{
        font-size:2.5rem;
    }

    .category__conteiner{
        gap:1%;
        max-width: 90%;
        
    }

    .products__title{
        margin-top:3rem;
    }

    .category__conteiner__data{
        width: 15%;
        height: 6rem;
        margin-bottom: 0.3rem;
    }

    .popular__sneaker__conteiner,
    .products__conteiner{
        gap:1.5rem;
        max-width: 95%;
    }
    
    .card{
        height: 20rem ;
        width: 40%;
        padding:0.5rem;
    }

    .card__img{
        height: 9rem;
        width: 13rem;
        margin-top:3rem;
    }

    .card__info{
        /* margin-top:2rem; */
    }

    .card__name{
        font-size:1.2rem;
    }

    .card__conteiner__shop{
        height: 45%;
        flex-wrap: wrap;
        gap:0.5rem;
        margin-top:0px;
        flex-direction: column;
        
    }

   

    .botoncompra-hover{
        height: 2rem;
        font-size:0,4rem;
    }

    .brand__name{
        font-size: 70%;
    }


}


@media all and (max-width: 479px) {
    .popular__title,
    .category__title,
    .products__title{
        font-size: 2.5rem;
    }

    .hero__title{
        height: 20rem;
        width: 17rem;
    }

    .hero__buttom__conteiner{
        width: 100%;
        justify-content: center;
        margin-top:2rem;
    }

    .brand__conteiner,
    .brand__conteiner__data{
       max-width: 100%;
       width: 100%;
    }

    .about{
        font-size:1.5rem;
    }

    .info__title{
        font-size:1.5rem
    }

    .degrade__span{
        font-size:2rem
    }

    .popular__sneaker__conteiner,
    .products__conteiner{
        gap:1.3rem;
        max-width: 100%;
    }
    
    .card{
        height: 20rem ;
        width: 40%;
        padding:0.3rem;
    }

    .card__img{
        /* height: 6em; */
        margin-top:5px;
    }

    .card__info{
        margin-top:0px;
    }

    .card__name{
        font-size:1.1rem;
    }

    .card__conteiner__shop{
        height: 45%;
        flex-wrap: wrap;
        gap:7%;
    }

   

    .botoncompra-hover{
        height: 2rem;
        font-size:0,4rem;
    }

    .category__conteiner{
        gap:0.3rem;
        margin-top: 2px;
        max-width: 100%;
    }

    .category__conteiner__data{
        height: 4rem;
        width: 25%;
        margin-bottom: 1.4rem;
        
    }

    .brand__name{
        font-size:0.8rem;
        
    }

    .products__title{
        margin-top:2rem;
    }

    .body{
        background-size:cover
    }

}